

.product-item {
    text-align: center;
    width: 250px;
    height: 400px;
    margin: 40px;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.product-item:hover {
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.2), 0 0 0 2px rgb(255, 255, 255), 0.3em 0.3em 1em rgba(0, 0, 0, 0.5);
}

.product-item strong p {
    font-size: 1.2em;
    padding: 25px 0 5px 0;
}

.add-btn {
    border: 1px solid #444;
    border-radius: 6px;
    background-color: #f0f0f0;
}

.add-btn:hover {
    background-color: #e8e8e8;
}







/*MODAL STYLING*/

.modal{
    justify-content: center;
}

.modal-content {
    text-align: center;
    width: 500px;
    max-width: 70%;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.2), 0 0 0 2px rgb(255, 255, 255), 0.3em 0.3em 1em rgba(0, 0, 0, 0.5);
    opacity: .95;
    margin: 150px 0 auto 0;
}

.modal-content h2 {
    padding: 25px 0 25px 0;
}


.cart-link {
    color: #111;
    text-decoration: none;
    cursor: pointer;
}

.cart-link:hover {
    color: blue;
    text-decoration: underline;
}


.check-mark {
    font-size: 5em;
    color: limegreen;
}


.display-flex {
    display: flex;
}

